*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.Header{
    display: grid;
    grid-template-areas: 
    "element2 element1 element1 element1 element1 element1 element1 element1 element1 element1 element1 element1 element1";
    background-color: #1741AD;
    text-align: center;
    color: white; 
    width: 100vw;
    height: 15vh;
}

.Contenedor-Nombre-Modulo{
    grid-area: element1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 6vw;
}

.Clientes{
    padding-top: 20px;
    text-align: center;
    color: white;
    width: 100vw;
    height: 85vh;
}

.Clientes_Busqueda{
    background-color: #1741AD;
    margin-left: 50px;
    margin-right: 50px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    margin-bottom: 4vh;
}

.Clientes_DNI{
    display: grid;
    grid-template-columns: [linea1] 1fr [linea2] 1fr [linea3] 1fr [linea4];
    grid-template-rows: 1fr;
    background-color: white;
    border-radius: 0px 0px 25px 25px;
    height: 10vh;
    align-items:center
}

.Clientes_Data{
    background-color: #1741AD;
    margin-left: 50px;
    margin-right: 50px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    align-content: center;
    margin-bottom: 4vh;
}

.Clientes_Info{
    display: grid;
    grid-template-columns: [linea1] 1fr [linea2] 1fr [linea3] 1fr [linea4] 1fr [linea5];
    grid-template-rows:[linea6] 1fr [linea7] 1fr [linea8] 1fr [linea9];
    background-color: white;
    border-radius: 0px 0px 25px 25px;
    height: 32vh;
    align-items: center;
    justify-items: center;
}

.input{
    height: 40px;
    width: 300px;
    background-color: white;
    border-color: gray;
    border-width: 1px;
    border-radius: 6px;
}

.caja-dni{
    display: flex;
    grid-column-start: linea2;
    grid-column-end: linea3;
    width: 90%;
    height: 60%;
}

.btn-buscar-cliente{
    grid-column-start: linea3;
    grid-column-end: linea4;
    width: 90%;
    height: 60%;
}

.inputDisabled{
    /* height: 40px;
    width: 300px; */
    background-color: rgb(212, 212, 212);
    border-color: gray;
    border-width: 2px;
    border-radius: 6px;
}

.Verde{
    background-color: #008f39;
    color: white;
    font-size: 16px;
    /* height: 40px;
    width: 300px; */
    border-color: #008f39;
    border-width: 2px;
    border-radius: 25px;
}

.Celeste{
    background-color: rgb(0, 191, 255);
    color: white;
    font-size: 16px;
    /* height: 40px;
    width: 300px; */
    border-color: rgb(0, 191, 255);
    border-width: 2px;
    border-radius: 25px;
}

.Rojo{
    background-color: red;
    color: white;
    font-size: 16px;
    /* height: 40px;
    width: 300px; */
    border-color: red;
    border-width: 2px;
    border-radius: 25px;
}

.icono-acordeon{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja-nombre{
    width: 70%;
    height: 60%;
    display: grid;
    grid-column-start: linea1;
    grid-column-end: linea3;
}

.caja-sexo{
    width: 70%;
    height: 60%;
    grid-column-start: linea3;
    grid-column-end: linea5;
    grid-row-start: linea6;
    grid-row-end: linea7;
}

.caja-email{
    width: 70%;
    height: 60%;
    grid-row-start: linea7;
    grid-row-end: linea8;
    grid-column-start: linea3;
    grid-column-end: linea5;
}

.caja-apellidos{
    width: 70%;
    height: 60%;
    grid-row-start: linea7;
    grid-row-end: linea8;
    grid-column-start: linea1;
    grid-column-end: linea3;
}

.btn-cancelar{
    width: 60%;
    height: 60%;
    grid-row-start: linea8;
    grid-row-end: linea9;
    grid-column-start: linea1;
    grid-column-end: linea3;
}

.btn-confirmar{
    width: 60%;
    height: 60%;
    grid-row-start: linea8;
    grid-row-end: linea9;
    grid-column-start: linea3;
    grid-column-end: linea5;
}

.btn-seleccionar{
    width: 28%;
    height: 7vh;
}

.btns-change-pag{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
}

.btn-regresar{
    width: 15vw;
    height: 5vh;
    border-radius: 25px;
    background-color: red;
    color: white;
    border: red;
}

